      
      <div>Key <%= index + 1 %></div>
      <div id="freq-<%= index %>">
        <p><b>Frequency:</b> <span><%= k.frequency %></span></p>
      </div>

      <div id="wave-<%= index %>">
        <p><b>Wave:</b> <span><%= k.wave %></span></p>
      </div>

      <div id="panner-<%= index %>">
        <p><b>Panner:</b> <span><%= k.panner %></span></p>
      </div>

      <div id="delay-<%= index %>">
        <p><b>Delay:</b> <span><%= k.delay %></span></p>
      </div>

      <div id="filter-<%= index %>">
        <p><b>Filter:</b> <span><%= k.note_filter %></span></p>
      </div>

      <div id="volume-<%= index %>">
        <p><b>Volume:</b> <span><%= k.volume %></span></p>
      </div>

      <div id="keycode-<%= index %>">
        <p><b>Key Code:</b> <span><%= k.key_code %></span></p>
      </div>

      
